<div class="container-fluid">
  <form class="container-fluid__row" (ngSubmit)="send()">

    <h1>Formulário - Template Driven</h1>

    <div class="container">
      <label for="name">Nome</label>
      <input id="name" type="text" [(ngModel)]="form.name" name="name" />
      <app-msg *ngIf="error.name" [type]="1" [msg]="error.name"></app-msg>
    </div>

    <div class="container">
      <label for="cpf">CPF</label>
      <input id="cpf" type="number" [(ngModel)]="form.cpf" name="cpf" />
      <app-msg *ngIf="error.cpf" [type]="1" [msg]="error.cpf"></app-msg>
    </div>

    <div class="container">
      <label for="birth">Data de nascimento</label>
      <input id="birth" type="date" [(ngModel)]="form.birth" name="birth" [min]="minDate" [max]="maxDate" />
      <app-msg *ngIf="error.birth" [type]="1" [msg]="error.birth"></app-msg>
    </div>

    <div class="container">
      <label>Gênero</label>

      <div class="container__radio">
        <input type="radio" id="male" name="gender" [value]="gender.Male" [(ngModel)]="form.gender" />
        <label for="male">Masculino</label>
      </div>

      <div class="container__radio">
        <input type="radio" id="female" name="gender" [value]="gender.Female" [(ngModel)]="form.gender" />
        <label for="female">Feminino</label>
      </div>

      <div class="container__radio">
        <input type="radio" id="other" name="gender" [value]="gender.Other" [(ngModel)]="form.gender" />
        <label for="other">Não informar</label>
      </div>

      <app-msg *ngIf="error.gender" [type]="1" [msg]="error.gender"></app-msg>
    </div>

    <div class="container">
      <label for="color">Cor favorita</label>
      <select id="color" [(ngModel)]="form.color" name="color">
        <option [value]="color.Blue">Azul</option>
        <option [value]="color.Orange">Laranja</option>
        <option [value]="color.Black">Preto</option>
        <option [value]="color.Other">Outra</option>
      </select>
      <app-msg *ngIf="error.color" [type]="1" [msg]="error.color"></app-msg>
    </div>

    <div class="container">
      <input type="submit" value="enviar" />
      <app-msg class="saved" [ngClass]="{ 'successfully' : actionSave === true }" [type]="2"
        [msg]="'Salvado com sucesso!'"></app-msg>
    </div>
  </form>
</div>
