<form class="container-fluid" (ngSubmit)="send()">
  <div class="container">
    <label for="name">Nome</label>
    <input id="name" type="text" [(ngModel)]="form.name" name="name"/>
    <app-msg *ngIf="error.name" [type]="1" [msg]="error.name"></app-msg>
  </div>

  <div class="container">
    <label for="cpf">CPF</label>
    <input id="cpf" type="text" [(ngModel)]="form.cpf" name="cpf"/>
    <!-- <app-msg [type]="2" [msg]="'teste'"></app-msg> -->
  </div>

  <div class="container">
    <label for="birth">Data de nascimento</label>
    <input id="birth" type="date" [(ngModel)]="form.birth" name="birth" [min]="minDate" [max]="maxDate" />
    <!-- <app-msg [type]="2" [msg]="'teste'"></app-msg> -->
  </div>

  <div class="container">
    <label>Gênero</label>

    <div class="container-radio">
      <input type="radio" id="male" name="gender" value="0" [(ngModel)]="form.gender" />
      <label for="male">Masculino</label>
    </div>

    <div class="container-radio">
      <input type="radio" id="female" name="gender" value="1" [(ngModel)]="form.gender" />
      <label for="female">Feminino</label>
    </div>

    <div class="container-radio">
      <input type="radio" id="other" name="gender" value="2" [(ngModel)]="form.gender" />
      <label for="other">Não informar</label>
    </div>

    <!-- <app-msg [type]="2" [msg]="'teste'"></app-msg> -->
  </div>

  <div class="container">
    <label for="color">Cor favorita</label>
    <select id="color" [(ngModel)]="form.color" name="color">
      <option>Azul</option>
      <option>Laranja</option>
      <option>Preto</option>
      <option>Outra</option>
    </select>
    <!-- <app-msg [type]="2" [msg]="'teste'"></app-msg> -->
  </div>

  <div class="container">
    <input type="submit" value="enviar" />
    <!-- <app-msg [type]="2" [msg]="'teste'"></app-msg> -->
  </div>
</form>
